<div class="areaBtn">
  <button class="btn">
    <a href="/productos/MostrarProductos" class="link">Mostrar productos</a>
  </button>
  <button class="btn">
    <a href="/productos/AgregarProductos" class="link">Agregar productos</a>
  </button>
</div>
